--extra-index-url https://download.pytorch.org/whl/cu124

ipykernel
ultralytics
mlflow
dagshub
torch
torchvision
prometheus-client
fastapi
onnx
onnxslim
onnxruntime
onnxruntime-gpu
loguru
roboflow==1.2.0